.login {
    height: 100vh;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
}

.login h1:hover {
    cursor: pointer;
    color: orange;
    text-decoration: underline;
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

hr {
    margin: 15px 0;
}

.signup {
    align-content: center;
    display: grid;
}
.signup > h1 {
    text-align: center;
}

.signup > form {
    margin: 20px 0;
    text-align: center;
}

.signup > form {
    margin: 20px 0;
}
.signup > form > input {
    width: 50%;
    padding: 5px 5px;
    margin: 10px 0;
    height: 30px;
    font-size: 24px;
}

.signup > form > button {
    width: 50%;
    font-size: 30px;
    margin-top: 30px;
    text-transform: inherit!important;
    background-color: #0a8d48!important;
    color: #fff;
}

.signin {
    align-content: center;
    display: grid;
}
.signin > h1 {
    text-align: center;
}

.signin > form {
    margin: 20px 0;
    text-align: center;
}
.signin > form > input {
    width: 50%;
    padding: 5px 5px;
    margin: 10px 0;
    height: 30px;
    font-size: 24px;
}

.signin > form > button {
    width: 50%;
    font-size: 30px;
    margin-top: 30px;
    text-transform: inherit!important;
    background-color: #0a8d48!important;
    color: #fff;
}